<section class="content">
	<h2>
		{{translate("PORTAL.HEADER1")}}
	</h2>
	<p>
		{{translate("PORTAL.HEADER1.CONTENT")}}
	<h3>
		{{translate("PORTAL.STEP1")}}
	</h3>
	<p>
		{{translate("PORTAL.STEP1.CONTENT")}} &nbsp; <button class="button" type="button">{{translate("BUTTON.MORE_IMAGE")}}</button>
	</p>
	<h3>
		{{translate("PORTAL.STEP2")}}
	</h3>
	<p>
		{{translate("PORTAL.STEP2.CONTENT1")}}&nbsp;<select style="max-width:90%;width: 150px!important;"></select>&nbsp;{{translate("PORTAL.STEP2.CONTENT2")}}
	</p>
	<h3>
		{{translate("PORTAL.STEP3")}}
	</h3>
	<p>
		{{translate("PORTAL.STEP3.CONTENT1")}}&nbsp;&nbsp;<button class="button" type="button">{{translate("BUTTON.NEXT_IMAGE")}}</button>
	</p>
	<h3>
		{{translate("PORTAL.NOTES")}}
	</h3>
	<ol type="1">
		<li>
			{{translate("PORTAL.NOTES.CONTENT1")}}
		</li>
		<li>
			{{translate("PORTAL.NOTES.CONTENT2")}}
		</li>
		<li>
			{{translate("PORTAL.NOTES.CONTENT3a")}}&nbsp;<button class="btn-mode" type="button">{{translate("BUTTON.DELETE")}}</button>&nbsp;{{translate("PORTAL.NOTES.CONTENT3b")}}&nbsp;<button class="btn-mode" type="button">{{translate("BUTTON.DRAW")}}</button>&nbsp;{{translate("PORTAL.NOTES.CONTENT3c")}}
		</li>
	</ol>
	<h3>
		{{translate("PORTAL.DEMO")}}
	</h3>
</section>