<section class="content">
	<h2>
		{{translate("PORTAL.HEADER2")}}
	</h2>
	<h3>
		{{translate("PORTAL.HEADER2.CONTENT1")}}
	</h3>
	<p>
		{{translate("PORTAL.HEADER2.CONTENT2")}} 
	</p>
	<h3>
		{{translate("PORTAL.HEADER2.CONTENT3")}}
	</h3>
	<p>
		{{translate("PORTAL.HEADER2.CONTENT4")}}
	</p>
</section>