{# This extend the same file from core to add links to the "home page" nav menu. #}
{% extends "@account/components/default/main-nav.html.twig" %}

{% block main_nav %}
	{% if checkAuthenticated() %}
		{% if checkAccess('uri_label') %}
			<li>
				<a href="{{site.uri.public}}/label">{{translate("LABEL")}}</a>
			</li>
		{% endif %}	
		{% if checkAccess('uri_validate') %}
			<li>
				<a href="{{site.uri.public}}/validate">{{translate("VALIDATE")}}</a>
			</li>
		{% endif %}	
		{% if checkAccess('uri_upload') %}
			<li>
				<a href="{{site.uri.public}}/upload">{{translate("UPLOAD")}}</a>
			</li>
		{% endif %}	
		{% if checkAccess('uri_validated') %}
			<li>
				<a href="{{site.uri.public}}/validated">{{translate("VALIDATED")}}</a>
			</li>
		{% endif %}	
    {% endif %}
{% endblock %}
