{# This extend the same file from core to add links to the "home page" nav menu. #}
{% extends "@core/components/default/main-nav.html.twig" %}

{% block navbar_logo %}
<a href="{{site.uri.public}}" class="navbar-brand">
	<!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><img src="{{ assets.url('assets://local/core/img/LogoTitle.png') }}" style="max-width:150px;max-height:35px"></span>
</a>
{% endblock %}

{% block main_nav %}
	{% if checkAuthenticated() %}
		{% if checkAccess('uri_label') %}
			<li>
				<a href="{{site.uri.public}}/bbox">{{translate("BB_LABEL")}}</a>
			</li>
		{% endif %}	
		{% if checkAccess('uri_validate') %}
			<li>
				<a href="{{site.uri.public}}/bbox/validate">{{translate("BB_VALIDATE")}}</a>
			</li>
		{% endif %}	
		{% if checkAccess('uri_label') %}
			<li>
				<a href="{{site.uri.public}}/segment">{{translate("SEG_LABEL")}}</a>
			</li>
		{% endif %}
		{% if checkAccess('uri_validate') %}
			<li>
				<a href="{{site.uri.public}}/segment/validate">{{translate("SEG_VALIDATE")}}</a>
			</li>
		{% endif %}	
    {% endif %}
{% endblock %}

{% block secondary_nav %}
    {{parent()}}
    {% if not checkAuthenticated() %}
    	<li>
            <a href="{{site.uri.public}}/account/sign-in" class="nav-highlight">{{translate("SIGNIN")}}</a>
        </li>
        <li>
		<select class="js-basic-lang" style="display:none">
		  <option value="en_US">English</option>
		  <option value="ja_JP">日本語</option>
		</select>
		</li>
		<div id="locale" data-locale={{translate("LOCALE.SAVE")}}></div>
    {% else %}
        {% include "components/user-card.html.twig" %}
    {% endif %}
{% endblock %}
