{% block navigation %}
    {% if checkAccess('uri_dashboard') %}
    <li>
        <a href="{{site.uri.public}}/admin"><i class="fa fa-dashboard fa-fw"></i> <span>{{ translate("DASHBOARD") }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_users') %}
    <li>
        <a href="{{site.uri.public}}/admin/users"><i class="fa fa-user fa-fw"></i> <span>{{ translate("USER", 2) }}</span></a>
    </li>
    {% elseif checkAccess('uri_group', {
        'group': current_user.group
    }) %}
    <li>
        <a href="{{site.uri.public}}/admin/groups/g/{{current_user.group.slug}}"><i class="{{current_user.group.icon}} fa-fw"></i> <span>Manage Group</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_activities') %}
    <li>
        <a href="{{site.uri.public}}/admin/activities"><i class="fa fa-tasks fa-fw"></i> <span>{{ translate("ACTIVITY", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_roles') %}
    <li>
        <a href="{{site.uri.public}}/admin/roles"><i class="fa fa-drivers-license fa-fw"></i> <span>{{ translate("ROLE", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_permissions') %}
    <li>
        <a href="{{site.uri.public}}/admin/permissions"><i class="fa fa-key fa-fw"></i> <span>{{ translate("PERMISSION", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_groups') %}
    <li>
        <a href="{{site.uri.public}}/admin/groups"><i class="fa fa-users fa-fw"></i> <span>{{ translate("GROUP", 2) }}</span></a>
    </li>
    {% endif %}
    
    {% if checkAccess('uri_validated') %}
    <li>
        <a href="{{site.uri.public}}/admin/overview"><i class="fa fa-image"></i><span>{{translate("GALLERY", 2)}}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('uri_upload') %}
    <li>
        <a href="{{site.uri.public}}/admin/upload"><i class="fa fa-arrow-circle-o-up" style="font-size:20px"; ></i><span>{{translate("BB_UPLOAD", 2)}}</span></a>
    </li>
    {% endif %} 
    {% if checkAccess('uri_upload') %}
    <li>
        <a href="{{site.uri.public}}/admin/segUpload"><i class="fa fa-arrow-circle-o-up" style="font-size:20px"></i><span>{{translate("SEG_UPLOAD", 2)}}</span></a>
    </li>
    {% endif %} 
    <li>
      <a href="{{site.uri.public}}/tutorial">{{translate("TUTORIAL")}}</a>
    </li>
    {% if checkAccess('uri_label') %}
        <li>
          <a href="{{site.uri.public}}/bbox">{{translate("BB_LABEL")}}</a>
        </li>
      {% endif %} 
      {% if checkAccess('uri_validate') %}
        <li>
          <a href="{{site.uri.public}}/bbox/validate">{{translate("BB_VALIDATE")}}</a>
        </li>
      {% endif %} 
      {% if checkAccess('uri_label') %}
        <li>
          <a href="{{site.uri.public}}/segment">{{translate("SEG_LABEL")}}</a>
        </li>
      {% endif %}
      {% if checkAccess('uri_validate') %}
        <li>
          <a href="{{site.uri.public}}/segment/validate">{{translate("SEG_VALIDATE")}}</a>
        </li>
      {% endif %} 
{% endblock %}