{% extends "layouts/default.html.twig" %}

{% block stylesheets_page_group %}
	{{ assets.css('css/site') | raw }}
{% endblock %}

{% set page_active = "label" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("BB_LABEL_FULL")}}{% endblock %}

{% block page_description %}{{translate("LABEL_description")}}{% endblock %}

{% block body_matter %}
<section>
<div class="labelimg-container">
	<div class="column column-one" style="position:sticky;max-width: 100px;">
		<div id="filler">
			<div id="leftMenu" style ="display: flex;flex-direction: column;">
				<div style="max-width: 100px">{{translate("COMBOTITLE.SET")}}</div>
				<select class="js-basic-single" id="combo4" style="max-width:90%;" style="width: 150px;"></select>
				<div id="fetchFeedback"></div>
				<div id="leftSubMenu" style ="flex-direction: column;display:none;">
					<div style="max-width: 100px">{{translate("BB_LABEL_FULL")}}</div>
					<select class="js-basic-single" id="combo" style="max-width:90%;" style="width: 150px;"></select>
					<button id="nextButton"class="button" type="button" onclick="label_onNextClicked()">{{translate("BUTTON.NEXT_IMAGE")}}</button>
					<button id="moreButton"class="button" type="button" onclick="label_onMoreClicked() " style="display:none;">{{translate("BUTTON.MORE_IMAGE")}}</button>
					<button id="drawButton" class="btn-mode" type="button"onclick="label_onDrawClicked()">{{translate("BUTTON.DRAW")}}</button>
					<button id="eraseButton"class="btn-mode" type="button" onclick="label_onEraseClicked()">{{translate("BUTTON.DELETE")}}</button>
					<!--<button id="moveButton"class="btn-mode" type="button" onclick="label_onMoveClicked()">Move</button>-->
					<div id="imgCounter" style="max-width: 100px">{{translate("FEEDBACK.NO_IMAGE")}}</div>
					<div style="max-width: 100px">{{translate("LEGEND.LABEL.NBR_BBOX")}}<span id="value1"></span></div>
					<div id="value2" max-width= "100px"></div>
					<div id="value3" max-width= "100px"></div>
					<div id="value4" max-width= "100px"></div>
					<div id="value5" max-width= "100px"></div>
					<div id="value6" max-width= "100px"></div>
					<div id="value7" max-width= "100px"></div>
					<div id="value8" max-width= "100px"></div>
					<div id="value9" max-width= "100px"></div>
					<br>
					<!-- Rounded switch -->
					<div>{{translate("LEGEND.LABEL.SWITCH")}}</div>
					<label class="switch" title="Show / Hide label">
					  <input id="labelShowSwitch" type="checkbox" checked onchange ="label_onViewLabelClicked(this)">
					  <div class="slider round"></div>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="column column-four" id="columnFour">
		<div id="preview" class="imgcontainer" ondragstart="return false;" ondrop="return false;"  style="position: relative;white-space: nowrap;height:100%;">
			<img id='image' unselectable='on' onresize='onImgResize()' src=''  ontouchend="label_onTouchEnd(event)"
			ontouchcancel="label_onTouchCancel(event)" ontouchmove="label_onTouchMove(event)" ontouchstart="label_onTouchStart(event)"/>
		</div>
		
	</div>
</div>	
</section>
{% endblock %}
{% block scripts_page_group %}
	{{ assets.js('js/tools') | raw }}
{% endblock %}
{% block scripts_page %}
	{{ assets.js('js/label') | raw }}
{% endblock %}
	
