{% extends "layouts/default.html.twig" %}

{% block stylesheets_page_group %}
	{{ assets.css('css/site') | raw }}
{% endblock %}

{% set page_active = "seg-validate" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("SEG_VALIDATE")}}{% endblock %}

{% block page_description %}Seg Validation tool{% endblock %}

{% block body_matter %}
	<section>
	<div class="labelimg-container">
		<div class="column column-one">
			<button id="ValidateButton"class="button-validate" type="button" onclick="validate_onValidateClicked()">Validate</button>
			<button id="RejectButton"class="button-reject" type="button" onclick="validate_onRejectClicked()">Reject</button>
			<button id="moreButton"class="button" type="button" onclick="validate_onMoreClicked()" style = "DISPLAY: none;">More image</button>
			<div id="imgCounter">No image</div>
			<div id="value1" max-width= "100px"></div>
			<div id="legend" style="max-width:100px"></div>
		</div>
		<div class="column column-four">
			<div id="preview" class="imgcontainer" ondragstart="return false;" ondrop="return false;" style="position: relative;">
				<img id='image' unselectable='on' onresize='onImgResize()' src='' />
				<canvas id="areaCanvas" style="position:absolute;top: 0px;left: 0px;width:100%;height:100%;"></canvas>
			</div>
			
		</div>
	</div>
	<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <p>Sorry the image is outdated, you will be forward to the next one.</p>
	    <button class="btn btn-primary js-submit" onclick="validate_onModalClicked()">{{translate('OK')}}</button>
	  </div>

	</div>
	</section>

{% endblock %}
{% block scripts_page_group %}
	{{ assets.js('js/tools') | raw }}
{% endblock %}
{% block scripts_page %}
	{{ assets.js('js/segValidate') | raw }}
{% endblock %}